.venv/
PYTHON/util.egg-info/
outputs/files/mi_grafico.png
PYTHON/utils.egg-info/
PYTHON/utils/__pycache__/__init__.cpython-311.pyc
PYTHON/utils/__pycache__/
PYTHON/notebooks/index_files/
PYTHON/notebooks/QUARTO/tst1_quarto_files/
